$.ajaxSetup({beforeSend: function(xhr) { 
    xhr.setRequestHeader("Authorization", 
          "Basic BASICAUTHSTRHERE"); }, 
         xhrFields: { 
               withCredentials: true} 
                           
               });

