	  <div class="row-fluid">
		  <div id="device-overview" class="span12">
			<h2>Device</h2>
			<small class="pull-right"> Device erzeugt am: {{created}}</small> <br/>
			<small class="pull-right"> Letzte &Auml;nderung am: 1/1/1970</small> <br/>
			Ein "Device" ist ein (meist WLAN-) netzwerk-f&auml;higes Ger&auml;t. Er hat einen Namen, geh&ouml;rt immer zu einem <a href="#node">Node</a>, eine Position (Dach) und eine oder mehrere <a href="#interface">Interfaces</a>, die IP Adressen haben.<p/>
			<div class="alert alert-block fade in">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<strong>Hinweis!</strong> Bei deinem Device fehlen uns noch ein paar Informationen! Bitte diese erg&auml;nzen.
			</div>
		  </div>
	  </div>

	  <div class="row-fluid">
		  <div class="span6">
			  <div id="node-data">
				  <h3>Device Daten</h3>
				<form action="https://eddie.funkfeuer.at/api/1/device/ID" method="POST" class="form-horizontal">
				 	  <div class="control-group">
						<label class="control-label" for="name">Name</label>
						<div class="controls span3">
							<input type="text" id="nodename" value="{{name}}" required>
						</div>
					  </div>
					  <!-- deviceType -->
					  <div class="control-group">
						  <label class="control-label" for="deviceType">Typ</label>
						  <div class="controls span3">
							  <select id="deviceType">
								  <option selected>Linksys WRT54GL</option>
								  <option>UBNT Bullet M2</option>
								  <option>UBNT Bullet M5</option>
								  <option>UBNT Bullet Titanium M2</option>
								  <option>UBNT Bullet Titanium M5</option>
								  <option>UBNT Nanobridge M2</option>
								  <option>UBNT Nanobridge M5</option>
								  <option>UBNT Rocket M2</option>
								  <option>UBNT Rocket M5</option>
								  <option>UBNT Nanostation M2</option>
								  <option>UBNT Nanostation M5</option>
								  <option>UBNT Loco M2</option>
								  <option>UBNT Loco M5</option>
								  <option>Mikrotik XXX</option>
								  <option>Andere</option>
								</select>
							</div>
						</div>

					  <!-- description -->
				 	  <div class="control-group">
						<label class="control-label" for="desc">Notizen</label>
						<div class="controls span3">
							<textarea rows=3 id="desc" value="{{desc}}" />
						</div>
					  </div>
						<!-- Node: here we list all the nodes of the user. -->
					  <div class="control-group">
						  <label class="control-label" for="node">Geh&ouml;rt zu Node</label>
						  <div class="controls span3">
						    <select id="node">
								<option selected>NodeName1</option>
								<option>myOtherNode</option>
								<option>myThirdNode</option>
							</select>
					  	  </div>
					  </div>
					  <hr>

					  <div class="control-group">
						<div class="controls">
						  <button type="submit" class="btn">Speichern</button>
						</div>
					</div>
				</form>

			  </div>
			  <p/>
		  </div>
		  <!-- XXX FIXME: make this collapsible  and collapsed by default -->
		  <div class="span6">
			<h2>Device Statistiken</h2>
				<small>Statistiken zum Node: Anzahl der Nachbarn, Connectedness, Dominator tree,...</small></p>
				<img src="XXX" class="img-rounded" width=400 height=400 />
		  </div>
		  <hr>
	  </div>

