	  <div class="row-fluid">
		  <div id="node-overview" class="span12">
			<h2>&Uuml;bersicht</h2>
			<small class="pull-right"> Knote erzeugt am: {{created}}</small> <br/>
			<small class="pull-right"> Letzte &Auml;nderung am: 1/1/1970</small> <br/>
			Ein "Node" ist ein Standort. Er hat einen Namen, eine Position (Dach) und Leute, die ihn betreuen.<p/>
			<div class="alert alert-block fade in">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<strong>Hinweis!</strong> Bei deinem Knoten fehlen uns einige Panorama-Bilder!
			</div>
		  </div>
	  </div>

	  <div class="row-fluid">
		  <div class="span6">
			  <div id="node-data">
				  <h3>Node Daten</h3>
				<form action="https://eddie.funkfeuer.at/api/1/node/ID" method="POST" class="form-horizontal">
					<div class="control-group">
						<label class="control-label" for="name">Node name</label>
						<div class="controls span3">
							<input type="text" id="nodename" placeholder="{{name}}" required>
						</div>
					  </div>
						<!-- Position -->
					  <div class="control-group">
						  <label class="control-label" for="lat">Latitude</label>
						  <div class="controls span3">
						    <input type="text" id="lat" placeholder="{{lat}}">
					  	  </div>
					  </div>
					  <div class="control-group">
						  <label class="control-label" for="lon">Longitude</label>
						  <div class="controls span3">
						    <input type="text" id="lon" placeholder="{{lon}}">
					  	  </div>
					  </div>
						<!-- address -->
					  <div class="control-group">
						<label class="control-label" for="address">Adresse</label>
						<div class="controls input-prepended span3">
						  <input type="text" id="address" placeholder="Strasse + Hausnummer" required />
						</div>
					  </div>
						<!-- zip -->
					  <div class="control-group">
						<label class="control-label" for="zip">PLZ</label>
						<div class="controls input-prepended span3">
						  <input type="text" id="zip" placeholder="PLZ" required />
						</div>
					  </div>
						<!-- city -->
					  <div class="control-group">
						<label class="control-label" for="city">Ort</label>
						<div class="controls input-prepended span3">
						  <input type="text" id="city" placeholder="Ort" required />
						</div>
					  </div>
						<!-- country -->
					  <div class="control-group">
						<label class="control-label" for="country">Land</label>
						<div class="controls input-prepended span3">
						  <input type="text" id="country" placeholder="Land" />
						</div>
					  </div>
					  <h3>Owner (admin-c)</h3>
					  <small>Derzeit ist folgende Personen Besitzer des Nodes:</small></p>
					  Name:	<span class="input-xlarge uneditable-input span4">Herr Kunz</span>
					  </p>
					<!-- XXX FIXME -->
					  <span class="span12">
					  Knoten an:
					  <select class="span3">
						  <option>abc</option>
						  <option>def</option>
					  </select>
					  <a class="btn btn-primary">&Uuml;bergeben</a>
					  </span>
					<!-- XXX FIXME -->

					  <hr>
					  <h3>Manager (tech-c)</h3>
					  <small>Derzeit sind folgende Personen Manager (technischer Kontakt) f&uuml;r diesen Node:</small></p>
					  <select>
							<option selected>Akku</option>
							<option>Eddie</option>
							<option>Franz</option>
							<option>Kunz</option>
					  </select>

					  <hr>

					  <div class="control-group">
						<div class="controls">
						  <button type="submit" class="btn">Speichern</button>
						</div>
					</div>
				</form>

			  </div>
			  <p/>
		  </div>
		  <!-- XXX FIXME: make this collapsible  and collapsed by default -->
		  <div class="span6">
			<h3>Node Karte</h3>
			<div class="span12" id="map-canvas" style="width: 570px; height: 350px;"></div>
		  </div>
		  <hr>
		  <div class="span6">
			<h2>Node Statistiken</h2>
				<small>Statistiken zum Node: Anzahl der Nachbarn, Connectedness, Dominator tree,...</small></p>
				<img src="XXX" class="img-rounded" width=400 height=400 />
		  </div>
		  <hr>
		  <div class="span12">
			<h2>Panorama-Bilder</h2>
				<!-- XXX FIXME: this should be a collapsible: either compass card or one single panorama pic -->
				<a href="http://gallery.funkfeuer.at/node_id/panorama.png"><img src="imgs/panorama.png" /></a>
				<table >
					<tr>
						<td><a href="NW-large.png"><img src="NW.png" width="300" height="300" /></a></td>
						<td><a href="N-large.png"><img src="N.png" width="300" height="300" /></a></td>
						<td><a href="NW-large.png"><img src="NO.png" width="300" height="300" /></a></td>
					</tr>
					<tr>
						<td><a href="W-large.png"><img src="W.png" width="300" height="300" /></a></td>
						<td><img src="imgs/Aguiar.png" width="300" height="300"/></td>
						<td><a href="O-large.png"><img src="O.png" width="300" height="300" /></a></td>
					</tr>
					<tr>
						<td><a href="SW-large.png"><img src="SW.png" width="300" height="300" /></a></td>
						<td><a href="S-large.png"><img src="S.png" width="300" height="300" /></a></td>
						<td><a href="SE-large.png"><img src="SO.png" width="300" height="300" /></a></td>
					</tr>
				</table>
		  </div>
	  </div>

