			  <div id="node-data">
				  <h3>Node Daten</h3>
				<form action="https://eddie.funkfeuer.at/api/1/node/ID" method="POST" class="form-horizontal">
					<div class="control-group">
						<label class="control-label" for="name">Node name</label>
						<div class="controls span3">
							<input type="text" id="nodename" placeholder="{{name}}" required>
						</div>
					  </div>
						<!-- Position -->
					  <div class="control-group">
						  <label class="control-label" for="lat">Latitude</label>
						  <div class="controls span3">
						    <input type="text" id="lat" placeholder="{{position.lat}}">
					  	  </div>
					  </div>
					  <div class="control-group">
						  <label class="control-label" for="lon">Longitude</label>
						  <div class="controls span3">
						    <input type="text" id="lon" placeholder="{{position.lon}}">
					  	  </div>
					  </div>
						<!-- address -->
					  <div class="control-group">
						<label class="control-label" for="address">Adresse</label>
						<div class="controls input-prepended span3">
						  <input type="text" id="address" placeholder="Strasse + Hausnummer" required />
						</div>
					  </div>
						<!-- zip -->
					  <div class="control-group">
						<label class="control-label" for="zip">PLZ</label>
						<div class="controls input-prepended span3">
						  <input type="text" id="zip" placeholder="PLZ" required />
						</div>
					  </div>
						<!-- city -->
					  <div class="control-group">
						<label class="control-label" for="city">Ort</label>
						<div class="controls input-prepended span3">
						  <input type="text" id="city" placeholder="Ort" required />
						</div>
					  </div>
						<!-- country -->
					  <div class="control-group">
						<label class="control-label" for="country">Land</label>
						<div class="controls input-prepended span3">
						  <input type="text" id="country" placeholder="Land" />
						</div>
					  </div>
					  <h3>Owner (admin-c)</h3>
					  <small>Derzeit ist folgende Personen Besitzer des Nodes:</small></p>
					  Name:	<span class="input-xlarge uneditable-input span4">Herr Kunz</span>
					  </p>
					<!-- XXX FIXME -->
					  <span class="span12">
					  Knoten an:
					  <select class="span3">
						  <option>abc</option>
						  <option>def</option>
					  </select>
					  <a class="btn btn-primary">&Uuml;bergeben</a>
					  </span>
					<!-- XXX FIXME -->

					  <hr>
					  <h3>Manager (tech-c)</h3>
					  <small>Derzeit sind folgende Personen Manager (technischer Kontakt) f&uuml;r diesen Node:</small></p>
					  <select>
							<option selected>Akku</option>
							<option>Eddie</option>
							<option>Franz</option>
							<option>Kunz</option>
					  </select>

					  <hr>

					  <div class="control-group">
						<div class="controls">
						  <button type="submit" class="btn">Speichern</button>
						</div>
					</div>
				</form>

			  </div>
			  <p/>
		  </div>
