	  <div class="row-fluid">
		  <div class="span12">
			  <a id="Overview" ></a>
			  <h1>Willkommen <i>x</i>!</h1>
			  <small>Du hast <i>n</i> neue Nachrichten:</small>
			  <p/>
			  <div class="alert alert-block alert-error fade in">
				  <button type="button" class="close" data-dismiss="alert">&times;</button>
					<h4 class="alert-heading">Warning!</h4>
					<p>Es gibt derzeit <a href="#XXX">2 Fehler</a> bei deinen Knoten!</p>
			  </div>
			  <div class="alert alert-success">
				  <button type="button" class="close" data-dismiss="alert">&times;</button>
				    Ok, settings &uuml;bernommen Beispiels-text
			  </div>
		  </div>
	  </div>

	  <hr>

	  <div class="row-fluid">
		  <div class="span7">
			  <div id="node-overview">
				  <h2><a id="Nodes">Nodes</a></h2>
				  <table id="nodelist" class="table table-bordered table-hover table-condensed">
					  <thead>
						  <tr>
							  <td>Name</td><td># Devices</td><td>Online?</td><td>Alerts</td><td>Created</td><td>Action</td>
						  </tr>
					  </thead>
					  <tbody>
						  <tr>
							<td><a href="https://eddie.funkfeuer.at/api/1/node/1">Krytparoof</a></td>
							<td>4</td>
							<td><span class="badge badge-success">4</span></td>
							<td>0</td>
							<td>2008/01/01</td>
							<td><a href="node.html" class="btn btn-small"><i class="icon-pencil icon-white"></i></a>
								<br><a href="download-json" class="btn btn-mini">{}</a>
							</td>
						  </tr>
						  <tr>
							<td><a href="https://eddie.funkfeuer.at/api/1/node/2">Nixroof</a></td>
							<td>6</td>
							<td><span class="badge badge-warning">4</span></td>
							<td><span class="badge badge-warning">2</span></td>
							<td>2009/01/01</td>
							<td><a href="node.html" class="btn btn-small"><i class="icon-pencil icon-white"></i></a>
								<br><a href="download-json" class="btn btn-mini">{}</a>
							</td>
						  </tr>
						  <tr>
							<td><a href="https://eddie.funkfeuer.at/api/1/node/1">Nessusroof</a></td>
							<td>6</td>
							<td><span class="badge badge-important">0</span></td>
							<td><span class="badge badge-warning">6</span></td>
							<td>2012/09/01</td>
							<td><a href="node.html" class="btn btn-small"><i class="icon-pencil icon-white"></i></a>
								<br><a href="download-json" class="btn btn-mini">{}</a>
							</td>
						  </tr>
					  </tbody>
				  </table>

				  <!-- devices -->

				  <h2><a id="Devices">Devices</a></h2>
				  <table class="table table-bordered table-hover table-condensed">
					  <thead>
						  <tr>
							  <td>Name</td><td>Nodename</td><td># of Interfaces</td><td>Online?</td><td>Alerts</td><td>Created</td><td>Traffic</td><td>Action</td>
						  </tr>
					  </thead>
					  <tbody>
						  <tr>
							<td><a href="https://eddie.funkfeuer.at/api/1/device/1">wo9omni</a></td>
							<td>wo9</td>
							<td>2</td>
							<td><span class="badge badge-success">2</span></td>
							<td>0</td>
							<td>2008/01/01</td>
							<td><img src="https://stats.funkfeuer.at/graphs/freenet/micro-traffic-193.238.156.4.png" /></td>
							<td>
								<a class="btn" href="https://eddie.funkfeuer.at/api/1/device/1"><i class="icon-pencil icon-white"></i></a>&nbsp;
								<br><a href="download-json" class="btn btn-mini">{}</a>
							</td>
						  </tr>
						  <tr>
							<td><a href="https://eddie.funkfeuer.at/api/1/node/2">rei6wan</a></td>
							<td>rei6</td>
							<td>2</td>
							<td><span class="badge badge-warning">1</span></td>
							<td><span class="badge badge-warning">1</span></td>
							<td>2009/01/01</td>
							<td><img src="https://stats.funkfeuer.at/graphs/housing/micro-traffic-193.238.157.5.png" /></td>
							<td>
								<a class="btn" href="https://eddie.funkfeuer.at/api/1/device/1"><i class="icon-pencil icon-white"></i></a>&nbsp;
								<br><a href="download-json" class="btn btn-mini">{}</a>
							</td>
						  </tr>
						  <tr>
							<td><a href="https://eddie.funkfeuer.at/api/1/node/1">750upeth4</a></td>
							<td>rei6</td>
							<td>2</td>
							<td><span class="badge badge-success">0</span></td>
							<td><span class="badge badge-warning">6</span></td>
							<td>2012/09/01</td>
							<td><img src="https://stats.funkfeuer.at/graphs/freenet/micro-traffic-193.238.156.9.png" /></td>
							<td>
								<a class="btn" href="https://eddie.funkfeuer.at/api/1/device/1"><i class="icon-pencil icon-white"></i></a>&nbsp;
								<br><a href="download-json" class="btn btn-mini">{}</a>
							</td>
						  </tr>
						  <tr>
							<td><a href="https://eddie.funkfeuer.at/api/1/node/1">vlan9</a></td>
							<td>Kryptaroof</td>
							<td>4</td>
							<td><span class="badge badge-success">4</span></td>
							<td>0</td>
							<td>2008/01/01</td>
							<td><img src="https://stats.funkfeuer.at/graphs/freenet/micro-traffic-193.238.156.14.png" /></td>
							<td>
								<a class="btn" href="https://eddie.funkfeuer.at/api/1/device/1"><i class="icon-pencil icon-white"></i></a>&nbsp;
								<br><a href="download-json" class="btn btn-mini">{}</a>
							</td>
						  </tr>
					  </tbody>
				  </table>
			  </div>
			  <p/>
			  <h2><a id="Interfaces">Interfaces</a></h2>
				...
		  </div>
		  <div class="span5">
			<h2>Graphs / Statistiken</h2>
			  <!-- ...Graphs, Statistics, Topolgy graphs, ping-plots
			  <p/>
			-->
			  <img src="https://marvin.funkfeuer.at/smokeping/freenet/rei6/nanom5wan_last_10800.png" /><p/>
			  <img src="https://marvin.funkfeuer.at/smokeping/freenet/rei6/nanom5wan_last_86400.png" /><p/>
			  <img src="https://marvin.funkfeuer.at/smokeping/freenet/rei6/nanom5wan_last_604800.png" /><p/>
			  <img src="https://marvin.funkfeuer.at/smokeping/freenet/rei6/nanom5wan_last_31536000.png" /><p/>
		  </div>
	  </div>

