      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit" >
		<h2>Willkommen!</h2>
		<img src="imgs/main_graphic_small.png" />
		<p>Das ist das neue user-interface f&uuml;r die Common Node DB ("nodeDB"). Den Source Code dazu findest du auf <a href="http://github.com/FFM/FFM/">github</a>.</p>
		<p><a href="#about" class="btn btn-primary btn-large">Mehr Infos&raquo;</a></p>
	  </div>

      <div class="row-fluid" >
		  <!--
		<div class="span2 offset10">
			<h2>News</h2>
			XXX
			2013/01/01: bla bla<br>
			2013/02/01: blablabla2<p/>
		</div>
			-->
		<div class="span10">
		<h2><a id="about">&Uuml;ber</a></h2>
		Die neue node Datenbank ("common Node DB") ist ein Projekt bei Funkfeuer, um die alte bestehende Verwaltungs-Datenbank zu ersetzen und zu erweitern.
		W&auml;hrend die alte Datenbank uns viele Jahre erfolgreich gedient hat und die IP Adressenverwaltung bei Funkfeuer Wien &uuml;berhaupt erm&ouml;glicht hat,
		gab es - wie so oft - im Laufe der Zeit immer mehr W&uuml;nsche bez&uuml;glich neuer Funktionalit&auml;t.
		<p/>
		So war es bei der alten Datenbank nicht m&ouml;glich:
		<ul>
			<li>Linkplanung zu haben,
			<li>IP Adressen gescheit zur&uuml;ck zu fordern,
			<li>Benutzern einen &Uuml;berblick &uuml;ber ihre Knoten zu geben (Link-Quality, Statistiken, ...),
			<li>"Mentoren" zu haben, die offiziell Knoten im Namen anderer betreuen,
			<li>ein API zu verwenden, gegen das viele verschiedene Tools ihre Anfragen stellen k&ouml;nnen,
			<li>etc.
		</ul><p/>
		Die common Node DB:
		<ul>
			<li>hat ein <a href="XXX">API</a>, sodass viele kleine Programme die nodeDB abfragen k&ouml;nnen
			<li>hat <a href="https://github.com/FFM/FFM/tree/master/doc">Dokumentation</a>, wie das API zu verwenden ist
			<li>hat eine <a href="XXX">IP History</a>, um zu sehen, wer welche IP wann verwendet hat,
			<li>hat Exporter, die die Konfigurationsdateien f&uuml;r die wichtigsten Services (DNS Server, Nagios, Smokeping,...) generieren k&ouml;nnen,
			<li>ist ein offenes, open-source Projekt, das f&uuml;r und mit der community entwickelt wird
		</ul>
		<p/>
		Geplante features der common Node DB sind:
		<ul>
			<li>Linkplaning tools: Integration von <a href="http://heywhatsthat.com">heywhatsthat.com</a> oder <a href="www.cplus.org/rmw/english1.html">Radio Mobile</a>, um Funkfeuer Benutzer bei der Link-Planung zu unterst&uuml;tzen,
			<li>Firmeware-Generator: je nach verwendetem Device kann man die Firmware dafuer mit den richtigen Settings automatisch generieren lassen
			<li>Tunnel-Konfigurator: Tunnel gew&uuml;nscht? 
		</ul>
		In Summe ist die neue common Node DB eine komplette neue Implementation. Ihr Source code findet sich auf <a href="http://github.com/FFM/FFM/">github.com</a>.
		<p/>
		Die common Node DB wurde im Rahmen des EU gef&ouml;rderten Projektes <a href="http://www.confine-project.eu">"CONFINE"</a> implementiert.
		</div>
	  </div>

      <div class="row" >
		<div class="span8">
		<h2><a id="contact">Kontakt</a></h2>
<address>
	Verein FunkFeuer Wien<br>
	ZVR: 814804682<br>
	Schwarzhorngasse 9/5<br>
	1050 Wien<br>
	<br>
	Email: <a href="mailto:vorstand@funkfeuer.at">vorstand@funkfeuer.at</a><br>
</address>

		</div>
	  </div>


